<template name="home">

  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <div class="well jumbotron">
        <h2>Find &middot; Help &middot; Improve</h2>
        <p>This is a platform where tutors can post their available times here and students can find help with the tutors</p>
        <p>
          <a class="btn btn-success btn-lg" href="{{pathFor 'tutorSchedule'}}" role="button">See Tutor Schedules &hearts;</a>
        </p>
        <p>
          <!-- <a class="btn btn-warning" href="{{pathFor 'register'}}" role="button">Register</a>
          <a class="btn btn-success" href="{{pathFor 'login'}}" role="button">Login</a> -->
        </p>
    </div>
  </div>
</template>