#tutorlist-head {
	position: relative;
	background: none;
}

#tutorlist-head:after {
    content:"";
    background: url("/03.jpg");
    background-size:cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;	
}

.course-display{
    display: inline-block;
}

.course-panel{ 
    display:none;
    position:absolute; 
    z-index:1000; 
    margin-top: 4px;
    margin-left: 4px;
}

.course-panel > div{
    padding: 6px 6px;
}

.search-title{
    display:inline-block; 
    margin-left:60px;
}
/*.list-panel{
    margin-bottom:-10000px;
    padding-bottom:10000px;
}*/