#tutorlist-head {
	position: relative;
	background: none;
}

#tutorlist-head:after {
    content:"";
    background: url("/05.jpg");
    background-size:cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;	
}