<template name="studentSearch">
  {{#if exist type}}
    {{>studentListHeader}}

    <div class="row">
      {{#each students value type}}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          {{> studentListContentItem}}
        </div>
        {{#if multiple index 2}}
          <div class="clearfix visible-sm-block visible-md-block"></div>
        {{/if}}
        {{#if multiple index 3}}
          <div class="clearfix visible-lg-block"></div>
        {{/if}}
      {{/each}}
    </div>

    {{#if notFound}}
      <div class="alert alert-danger" role="alert">
        <h4>
          {{#if isExact}}
            Exact Searching for 
          {{else}}
            Vague Searching for 
          {{/if}}
          "{{notFound}}" in Student List: could not found any data.
          
          {{#if isExact}}<small style="color:#a94442"><a href="#" id="changeSearch"><em>Try Vague Search</em></a></small>{{/if}}
        </h4>
        <div style="margin-left:30px">
          <p>Please check if you put the space between the course and the course number (i.e. for exact searching, "CSE 30" is better than "CSE30").</p>
          <p>Now listing all requesting students ...</p>
        </div>
      </div>

      <div class="row">
        {{#each allStudents}}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            {{> studentListContentItem}}
          </div>
          {{#if multiple index 2}}
            <div class="clearfix visible-sm-block visible-md-block"></div>
          {{/if}}
          {{#if multiple index 3}}
            <div class="clearfix visible-lg-block"></div>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}

  {{else}} <!-- if type doesn't exist (i.e. wrong page like exxxxSearch)-->
    {{>notFound2}}
  {{/if}}
</template>