<template name="studentListHeader">
  <div class="jumbotron well well-lg" id="studentlist-head">
      <h1 style="display:inline-block">Student List</h1>
      <form class="search-title">
        <div>
            <div class="form-group" style="display:inline-block">
              <input type="text" name="search" class="form-control" placeholder="Search Courses"/>
            </div>
            <div class="btn-group">
              <button id="exact-search" type="submit" class="btn btn-default" style="margin-left:30px"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Exact</button>
              <button id="vague-search" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Vague</button>
            </div>
            <div class="course-display">
              <small><abbr title="">what's the difference</abbr></small>
              <div class="panel panel-info course-panel">
                <div class="panel-heading">
                  Exact Search would match the content exactly (but would ignore the case); Vague Search would match each single word you type. <br/>
                  i.e. Exact Search for "econ 196" would get results like "econ 196" or "ECON 196";<br/>
                  while Vague Search for "econ 196" would not only get results like "econ 196" or "ECON 196", but also results like "Introduce to econ" or "CSE 196";
                </div>
              </div>
            </div>
        </div>
      </form>

      <hr/>
      <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> If you're a tutor: find all request students 
        {{#if inList}}
          here
        {{else}}
          <a href="{{pathFor 'studentList'}}">here</a>
        {{/if}}
      </p>
      <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> If you're a student: post your requesting info here
        <button class="btn btn-primary" id="post-student-info">Post</button>
      </p>
  </div>
</template>