<template name="userHome">
  <div class="hidden">{{ resized }}</div>
  <div class="jumbotron well well-lg" id="userHome-head">
      <h3>Welcome <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>{{username}}<span class="glyphicon glyphicon-grain" aria-hidden="true"></span></h3>
      <hr/>

      {{#if largeWindow}}
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 
          <strong>If want to find a tutor:</strong>
          See all available tutors <a href="{{pathFor 'tutorList'}}">here</a>
          OR post your student info <a href="{{pathFor 'studentPost'}}">here</a>
        </p>

        <p>
          <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 
          <strong>If want to be a tutor:</strong> 
          See all request students <a href="{{pathFor 'studentList'}}">here</a>
          OR post your tutoring info <a href="{{pathFor 'tutorPost'}}">here</a>
        </p>
      {{else}}
        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 
          <strong>If want to find a tutor:</strong>   
        </p>
        <p style="padding-left:30px"> 
          See all available tutors <a href="{{pathFor 'tutorList'}}">here</a>
          OR post your student info <a href="{{pathFor 'studentPost'}}">here</a>
        </p>

        <p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 
          <strong>If want to be a tutor:   </strong>   
        </p>
        <p style="padding-left:30px"> 
          See all request students <a href="{{pathFor 'studentList'}}">here</a>
          OR post your tutoring info <a href="{{pathFor 'tutorPost'}}">here</a>
        </p>
      {{/if}}
  </div>

  <div class="row">
    <div class="col-sm-3">
        <div class="well white-bg">
           <ul class="nav nav-pills nav-stacked">
             <li class="active" style="text-align:center"><a href="#" id="account"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Account</a></li>
             <li style="text-align:center; margin-top:10px"><a href="#" id="posts"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Posts</a></li>
          </ul>
        </div>
          
    </div>

    <div class="col-sm-9">
        <div class="well white-bg">
          {{#if clickAccount}}
            {{> changePassword}}

          {{else}}
            <ul class="nav nav-tabs" style="margin-bottom: 20px">
              <li class="active"><a href="#" id="tutorPost">Tutor Posts</a></li>
              <li><a href="#" id="studentPost">Student Posts</a></li>
            </ul>

            <div>
              {{#if clickTutorPost}}
                {{> tutorInfo}}

              {{else}} <!-- else user click student posts -->
                {{> studentInfo}}
              {{/if}} <!-- end clickTutorPost -->
            </div>
            {{/if}} <!-- end clickAccount -->
        </div>
        
    </div>

  </div>

</template>