<template name="header">

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><p>Private Tutor</p></a>
      </div>

      <div class="collapse navbar-collapse" id="navigation">

        <ul class="nav navbar-nav" id="nav-tab">
          <li class="{{activeClass '/'}}"><a href="/">Home</a></li>
          <li class="{{activeClass '/tutorList'}}"><a href="{{pathFor 'tutorList'}}">Tutor List</a></li>
          <li class="{{activeClass '/studentList'}}"><a href="{{pathFor 'studentList'}}">Student List</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li><p class="navbar-text nav-home">Welcome, 
              <a href="{{pathFor 'userHome' username=username}}">{{currentUser.username}}&nbsp;<span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
            </p></li>
            <li><button class="btn btn-primary navbar-btn" id="logout" role="button">Logout</button></li>
          {{else}}
            <button type="button" class="btn btn-info navbar-btn header-btn" data-toggle="modal" data-target="#loginform">Login</button>
            <a class="btn btn-primary navbar-btn header-btn" href="{{pathFor 'register'}}" role="button">Create account</a>
          {{/if}}
        </ul>
      </div>

    </div>
  </nav>

  {{> login}}

</template>

