<template name="header">

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><p>Find A Tutor</p></a>
      </div>

      <div class="collapse navbar-collapse" id="navigation">

        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <p>{{currentUser.username}} is currently logged in.</p>
            <a class="btn btn-primary navbar-btn header-btn" id="logout" href="{{pathFor 'logout'}}" role="button">Logout</a>
          {{else}}
            <a class="btn btn-info navbar-btn header-btn" href="#loginform" id="logintrigger" role="button">Login</a>
            <a class="btn btn-primary navbar-btn header-btn" href="{{pathFor 'register'}}" role="button">Create account</a>
          {{/if}}
        </ul>
      </div>

    </div>
  </nav>

  {{> login}}
</template>

